<ion-view title="Refuge">
    <ion-content class="has-header padding">
        <div class="card">
            <div class="item item-divider">
                Alert
            </div>
            <div class="item item-text-wrap">
                Alerta posible inmudacion areas cercanas
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left" >
                <a class="tab-item" href="#">
                    <i class="icon ion-social-rss"></i>
                    Feed
                </a>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                reFuge
            </div>

            <ion-list>
                <ion-item ng-repeat="refuge in refuges" href="#/tab/reFuge/{{refuge.ID}}">
                    <i class="icon ion-ios7-location">
                        {{refuge.NAME}}<br/>({{refuge.CAPACIDAD}}){{refuge.MUNICIPIO}}&nbsp;{{refuge.TELEFONO}}
                    </i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
