<div class="row">
    <div class="col-md-8">
        <h1>Nombre de la localidad</h1>
        <hr>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="input-group">
                        <label>Capacidad</label>:&nbsp;500
                    </div>
                    <div class="input-group">
                        <label>Condiciones</label>:&nbsp;500
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x250" alt="...">
        </a>
    </div>
</div>

