<div class="row">
    <div class="col-md-12">
        <google-map center='{expression}'
                    zoom='{expression}'
                    draggable='{string}'
                    dragging='{expression}'
                    refresh='{expression}'
                    options='{expression}'
                    events='{expression}'
                    bounds='{expression}'
                    pan='{string or boolean}'>

            <!-- other directives here -->

        </google-map>
    </div>
</div>